.leaderboardItem{
    display: flex;
    gap:10px;
}
#leaderboardContainer{
    border-radius:5px;
    width: 100%;
    height:100%;
    box-shadow:rgba(0,0,0,.1) 0px 0px 10px;
    background:white;
    border-radius:5px;
    padding:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#leaderboardTitle{
    font-size:40px;
    font-weight: bold;
}
.itemName{
    font-size: 20px;
    font-weight: 500;
}
.itemTime{
    font-size: 20px;
    font-weight: 700;
    color:rgba(0,0,0,.9)
}
#leaderboard{
    max-height: calc(100% - 89px);
    overflow-y: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
#submit{
    bottom: 35px;
    position: absolute;
}